

@model AjoutLivreViewModel
@{
    ViewData["Title"] = "Ajouter livre";
}
<div class="container">
    <h1>Ajouter un Livre</h1>
    <form id="loginForm"  class="ajoutlivre" asp-controller="Livre" asp-action="Ajouter" enctype="multipart/form-data" asp-antiforgery="true">
        <div class="div-input">
            <label asp-for="@Model.livre.ISBN"></label>
            <input asp-for="@Model.livre.ISBN" placeholder="ISBN" />
        </div>
        <div class="div-input">
            <label asp-for="@Model.livre.TitreLivre"></label>
            <input asp-for="@Model.livre.TitreLivre" placeholder="Titre livre" />
        </div>
        <div class="div-input">
            <label asp-for="@Model.livre.ResumeLivre"></label>
            <input asp-for="@Model.livre.ResumeLivre" placeholder="Resumer">
        </div>
        <div class="div-input">
            <label asp-for="@Model.livre.DatePublicationLivre"></label>
            <input asp-for="@Model.livre.DatePublicationLivre" type="date">
        </div>
        <div class="div-input">
            <label asp-for="@Model.livre.IdEditeur"></label>
            <select asp-for="@Model.livre.IdEditeur" asp-items="@Model.editeurs"></select>
        </div>
        <div class="div-input">
            <label asp-for="@Model.livre.IdCategorie"></label>
            <select asp-for="@Model.livre.IdCategorie" asp-items="@Model.categories"></select>
        </div>
        <label asp-for="@Model.livre.image"></label>
        <input type="file" asp-for="@Model.livre.image" accept=".jpeg,.jpg,.png" />
        <input type="submit" class="button">
    </form>
</div>

@{
    if (ViewData.ContainsKey("ValidateMessage"))
    {
        <p>@ViewData["ValidateMessage"]</p>
    }
}
@section Scripts {

    <partial name="_ValidationScriptsPartial" />

}