@model LivreViewModel 
@{
    ViewData["Title"] = "Détail " + Model.TitreLivre;
}
<div class="container">
    <h1>@Model.TitreLivre</h1>
    <div id="detail_livre">
        <div class="imagelivre"><img src="@Model.Image" alt="image livre"></div>
        <div class="detaillivre">
            <label class="titre_coleur">Référence Livre :</label>
            <label>@Model.ISBN</label><br />
            <label class="titre_coleur">Titre :</label>
            <label>@Model.TitreLivre</label><br />
            <label class="titre_coleur">Date Publication :</label>
            <label>@Model.DatePublicationLivre</label><br />
            <label class="titre_coleur">Nom Editeur :</label>
            <label>@Model.NomEditeur</label><br />
            <label class="titre_coleur">Categorie :</label>
            <label>@Model.NomCategorie</label><br />
            <label class="titre_coleur">Résumé :</label><br />
            <label>@Model.ResumeLivre</label>
            <div>
           
                    <a class="button" id="btn_emprunter" asp-controller="Home" asp-action="Contact">Emprunter</a>
              
            </div>
        </div>


      

    </div>
    <div id="list_comm">
        <label class="titre_coleur"><u>Commentaires :</u></label>
        <div>
            <!-- Affichage de la liste des commentaires -->
            @if (Model.Commentaire != null && Model.Commentaire.Any())
            {
                <ul>
                    @foreach (var commentaire in Model.Commentaire)
                    {
                        <li>
                            <label> @commentaire.Commentaire</label><br />
                            <label id="lbl-comm"><u> Publié le  @commentaire.DateCommentaire.ToShortDateString()</u> par : <strong>@commentaire.PseudoUtilisateur</strong></label>
                           

                        </li>
                    }
                </ul>
            }
            else
            {
                <p>Aucun commentaire pour ce livre.</p>
            }
        </div>
        <div>
            <a id="avis" asp-controller="Commentaire" asp-action="Index" asp-route-id="@(Model.ISBN)">Voulez vous ajouter un commentaire ?</a>
        </div>
    </div>
    
</div>

@{
    if (ViewData.ContainsKey("ValidateMessage"))
    {
        <p>@ViewData["ValidateMessage"]</p>
    }
}
@section Scripts {

    <partial name="_ValidationScriptsPartial" />

}