
@{
    ViewData["Title"] = "Livres";
}

<div>
    <h1>Livres</h1>
    <table>
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Titre</th>
                <th>Resumer</th>
                <th>Date Publication</th>
                <th>IdEditeur</th></th>
                <th>IdCategorie</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<Livre>)ViewData["livres"]!)
            {
                <tr>
                    <td>@(item.ISBN)</td>
                    <td>@(item.TitreLivre)</td>
                    <td>@(item.ResumeLivre)</td>
                    <td>@(item.DatePublicationLivre)</td>
                    <td>@(item.IdEditeur)</td>
                    <td>@(item.IdCategorie)</td>
                    <td><a asp-controller="Livre" asp-action="Ajouter" asp-route-id="@(item.ISBN)">Ajouter</a></td>
                    <td><a asp-controller="Livre" asp-action="Supprimer" asp-route-id="@(item.ISBN)">Supprimer</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
@{
    if (ViewData.ContainsKey("ValidateMessage"))
    {
        <p>@ViewData["ValidateMessage"]</p>
    }
}




