@model IEnumerable<MagicBook.Models.Utilisateur>

<table>
    <tr>
        <!-- l'ajout de propriétés pour l'affichage' -->
        <th>@Html.DisplayNameFor(model => model.IdUtilisateur)</th>
        <th>@Html.DisplayNameFor(model => model.Administrateur)</th>
        <th>@Html.DisplayNameFor(model => model.NomUtilisateur)</th>
        <th>@Html.DisplayNameFor(model => model.PrenomUtilisateur)</th>
        <th>@Html.DisplayNameFor(model => model.PseudoUtilisateur)</th>
        <th>@Html.DisplayNameFor(model => model.EmailUtilisateur)</th>
        <th>@Html.DisplayNameFor(model => model.Adresse1)</th>
        <th>@Html.DisplayNameFor(model => model.Adresse2)</th>
        <th>@Html.DisplayNameFor(model => model.CodePostal)</th>
        <th>@Html.DisplayNameFor(model => model.Ville)</th>
        <th>@Html.DisplayNameFor(model => model.NBJetons)</th>
        <th>@Html.DisplayNameFor(model => model.DateInscription)</th>
    </tr>
    @foreach (var utilisateur in Model)
    {
        <tr>
            <td>@utilisateur.IdUtilisateur</td>
            <td>@utilisateur.Administrateur</td>
            <td>@utilisateur.NomUtilisateur</td>
            <td>@utilisateur.PrenomUtilisateur</td>
            <td>@utilisateur.PseudoUtilisateur</td>
            <td>@utilisateur.EmailUtilisateur</td>
            <td>@utilisateur.Adresse1</td>
            <td>@utilisateur.Adresse2</td>
            <td>@utilisateur.CodePostal</td>
            <td>@utilisateur.Ville</td>
            <td>@utilisateur.NBJetons</td>
            <td>@utilisateur.DateInscription</td>
            
      
        </tr>
    }
</table>