@model Utilisateur

<div class="container">
    <form id="loginForm" asp-controller="Access" asp-action="Inscription" method="post">

        <div class="div-input">

            <div>

                <label asp-for="@Model.NomUtilisateur">Nom:</label>
            </div>

            <div>

                <input asp-for="@Model.NomUtilisateur">
            </div>
        </div>

        <div class="div-input">

            <div>

                <label asp-for="@Model.PrenomUtilisateur">Prenom:</label>

            </div>

            <div>

                <input asp-for="@Model.PrenomUtilisateur">

            </div>

        </div>

        <div class="div-input">

            <div>

                <label asp-for="@Model.PseudoUtilisateur">Pseudo:</label>

            </div>

            <div>

                <input asp-for="@Model.PseudoUtilisateur">

            </div>

        </div>

        <div class="div-input">

            <div>

                <label asp-for="@Model.Ville">Ville:</label>

            </div>

            <div>

                <input asp-for="@Model.Ville">

            </div>

        </div>

        <div class="div-input">

            <div>

                <label asp-for="@Model.CodePostal">Code Postal:</label>

            </div>

            <div>

                <input asp-for="@Model.CodePostal">

            </div>

        </div>


        <div class="div-input">

            <div>

                <label asp-for="@Model.EmailUtilisateur">Email:</label>

            </div>

            <div>

                <input asp-for="@Model.EmailUtilisateur">

            </div>

        </div>

        <div class="div-input">
            <div>
                <label asp-for="@Model.Adresse1"> Adresse 1:</label>
            </div>
            <div>
                <input asp-for="@Model.Adresse1">
            </div>
        </div>

        <div class="div-input">
            <div>
                <label asp-for="@Model.Adresse2"> Adresse 2:</label>
            </div>
            <div>
                <input asp-for="@Model.Adresse2">
            </div>
        </div>

        <div class="div-input">

            <div>

                <label asp-for="@Model.Password">Mot de passe:</label>

            </div>

            <div>

                <input asp-for="@Model.Password">

            </div>

        </div>


        <button type="submit" class="button">S'inscrire</button>



    </form>

    <script src="script.js"></script>

</div>
