@model Utilisateur
@* @{
    ViewData["Title"] = "Ajout utilisateur";
} *@
<div class="container">
    <h1>s'inscrire</h1>
    <form id="loginForm" asp-controller="Access" asp-action="Inscription" method="post">

        <div class="div-input">
            <label asp-for="@Model.NomUtilisateur"></label>
            <input asp-for="@Model.NomUtilisateur">
            <span asp-validation-for="@Model.NomUtilisateur" class="text-danger"></span>
        </div>
        <div class="div-input">
            <label asp-for="@Model.PrenomUtilisateur"></label>
            <input asp-for="@Model.PrenomUtilisateur">
            <span asp-validation-for="@Model.PrenomUtilisateur" class="text-danger"></span>
        </div>

        <div class="div-input">
            <label asp-for="@Model.PseudoUtilisateur"></label>
            <input asp-for="@Model.PseudoUtilisateur">
            <span asp-validation-for="@Model.PseudoUtilisateur" class="text-danger"></span>
        </div>
        <div class="div-input">
            <label asp-for="@Model.EmailUtilisateur"></label>
            <input type="email" asp-for="@Model.EmailUtilisateur">
            <span asp-validation-for="@Model.EmailUtilisateur" class="text-danger"></span>
        </div>

        <div class="div-input">
            <label asp-for="@Model.Password"></label>
            <input type="password" asp-for="@Model.Password">
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>
        <div class="div-input">
            <label asp-for="@Model.Adresse1"></label>
            <input asp-for="@Model.Adresse1">
            <span asp-validation-for="@Model.Adresse1" class="text-danger"></span>
        </div>

        <div class="div-input">
            <label asp-for="@Model.Adresse2"></label>
            <input asp-for="@Model.Adresse2">
            <span asp-validation-for="@Model.Adresse2" class="text-danger"></span>
        </div>
        <div class="div-input">
            <label asp-for="@Model.Ville"></label>
            <input asp-for="@Model.Ville">
            <span asp-validation-for="@Model.Ville" class="text-danger"></span>
        </div>
        <div class="div-input">
            <label asp-for="@Model.CodePostal"></label>
            <input asp-for="@Model.CodePostal">
            <span asp-validation-for="@Model.CodePostal" class="text-danger"></span>
        </div>

        <button type="submit" class="button">S'inscrire</button>
    </form>
</div>

@{
    if (ViewData.ContainsKey("ValidateMessage"))
    {
        <p>@ViewData["ValidateMessage"]</p>
    }
}
@section Scripts {

    <partial name="_ValidationScriptsPartial" />

}
