@model Utilisateur

<div class="container">
    <h2>Connexion</h2>
    <form id="loginForm" asp-controller="access" asp-action="Login" method="post">
        <div class="div-input">
            <div>
                <label for="username">Nom d'utilisateur:</label>
            </div>
            <div>
                <input  asp-for="@Model.NomUtilisateur">
            </div>

        </div>

        <div class="div-input">
            <div>
                <label for="Email">EmailUtilisateur:</label>
            </div>
            <div>
                <input asp-for="@Model.EmailUtilisateur">

            </div>

        </div>


        <div class="div-input">
            <div>
                <label for="password">Mot de passe:</label>
            </div>

            <div>
                <input asp-for="@Model.Password">
            </div>

        </div>
        <button class="button" type="submit">Connexion</button>

        <label asp-for="KeepLoggedIn"></label>
        <input type="checkbox" placeholder="Keep me logged in" asp-for="KeepLoggedIn">

        @if (Context.Request.Query.ContainsKey("ReturnURL"))
        {
            <input type="hidden" name="ReturnURL" value="@Context.Request.Query["ReturnURL"]">
        }
        
        @if (ViewData.ContainsKey("ValidateMessage"))
        {
            <p>@ViewData["ValidateMessage"]</p>
        }
    </form>
    <p>Pas de compte ? <a asp-controller="Access" asp-action="Inscription" id="inscription">Inscrivez-vous ici</a></p>
</div>