@{
    // Définition du titre de la page
    ViewData["Title"] = "livres";
}

<div class="container_livres">
@*     La boucle @foreach parcourt chaque livre contenu dans la liste "livres" passée à la vue via ViewData
 *@    @foreach (var item in (List<Livre>)ViewData["livres"]!)
    {
        <a asp-controller="Livre" asp-action="Detail" asp-route-id="@(item.ISBN)">
            <!-- Début de la section pour chaque livre -->
            <div>
                <!-- Affichage de l'image du livre -->
                <div><img src="@(item.image)" /></div>
                <!-- Affichage du titre du livre -->
                <div>@(item.TitreLivre)</div>
                @* <!-- Affichage du résumé du livre -->
                <div class="des">@(item.ResumeLivre)</div> *@
            </div>
        </a>
    }
</div>

@{
    // Vérification de l'existence du message de validation
    if (ViewData.ContainsKey("ValidateMessage"))
    {
        // Affichage du message de validation
        <p>@ViewData["ValidateMessage"]</p>
    }
}

 
